<div class="container-fluid">
  <div #table>
    <table class="table table-hover table-bordered">
      <thead>
      <tr class="table-primary">
        <td>Topic name</td>
        <td>My understanding</td>
        <td>Remarks</td>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>Component</td>
        <td>
          <img src="assets/images/edit-icon.png" class="iconStyle">
          <ol>
            <li>It is a basic building block of creating Angular apps.</li>
            <li>It encapulates the <code>template, state and behavior</code> of the view.</li>
            <li>To make a typescript class as component, the class has been annotated with @Component decorator.</li>
          </ol>
          <a class="text-primary" (click)="onViewExampleClick()"><u>view example</u></a>
        </td>
      </tr>
      <tr>
        <td>Directives</td>
        <td>
          <ol>
            <li>These are the instructions in the <abbr title="Document Object Model">DOM</abbr></li>
            <li>To make a typescript class as directive, the class has been annotated with @Directive decorator.</li>
            <li>There are three types of directives:-
              <ul>
                <li><abbr title="It is responsible for add/remove elements from DOM">Structural directive</abbr></li>
                <li><abbr title="It is responsible for modification in properties of DOM elements">Attribute
                  directive</abbr></li>
                <li><abbr title="This is the directive create our own">Custom directive</abbr></li>
              </ul>
            </li>
          </ol>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
