<div id="recoverCredentialForm">
  <span class="text-info">Hey {{ loggedInUsername }}, forget your password, don't worry will help you here</span>
  <br>
  <br>
  <form (ngSubmit)="onSubmit(recoverCredentialForm)" #recoverCredentialForm="ngForm">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <label>Select your secret question here : </label>
        </div>
        <div class="col-md-4 col-md-4">
          <select class="form-control">
            <option ngModel name="fav_pet">Your favourite pet name</option>
            <option ngModel name="fav_teacher">Your favourite teacher name</option>
            <option ngModel name="fav_sport">Your favourite sport name</option>
          </select>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-md-4">
          <label>Enter your answer here : </label>
        </div>
        <div class="col-md-4">
          <input
            type="text"
            name="secret"
            class="form-control"
            ngModel
            #secretAnswer="ngModel">
        </div>
        <div class="col-md-12">
          <span *ngIf="secretAnswer.invalid && secretAnswer.touched"
                class="text-danger"
          >Please enter your secret answer!</span>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-md-12">
          <button
            type="submit"
            class="btn btn-primary"
            [disabled]="!recoverCredentialForm.valid && (recoverCredentialForm.touched || recoverCredentialForm.untouched)">
            Register
          </button>
        </div>
      </div>
    </div>
  </form>
</div>
